/* import font Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, span {
    color: #000;
    text-align: center;
    line-height: 1.25;
}

a {
    text-decoration: none;
    position: relative;
    transition: all 300ms ease;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0%;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease ;
}

.link__hover-effect--white::after {
    background-color: #fff;
}

.link__hover-effect--black::after {
    background-color: #000;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

p {
    color: #000;
    font-size: 1.25rem;
    line-height: 1.5;
}

li {
    list-style-type: none;
}

.text--purple {
    color: #63b;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.row {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 12px;
}

.section__title {
    margin: 0 0 48px; /* top right bottom left */
}

section:nth-child(even) {
    background-color: #f5f5f5;
}

.container {
    padding: 24px 0;
}

/* NAVIGATION */

nav
{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 12px;
}

.personal__logo {
    font-size: 24px;
    color: #63b;
    margin: 0 12px; /* top right bottom left */
    font-weight: bold;
}

.nav__link--list
{
    display: flex;
    margin: 20px 20px;
}

.nav__link--anchor {
    margin: 0 12px;
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary {
    background-color: #63b;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    transition: all 300ms ease;
}
.nav__link--anchor-primary:hover {
    background-color: #63e;
}

/* ABOUT ME */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}

.about-me__picture {
    width: 100%;
}

.about-me__picture--mask {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
    animation: scale-up 800ms 1s backwards;
}

@keyframes scale-up {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.about-me__img--container {
    display: flex;
    align-items: center;
}

.about-me__img {
    width: 100%;
}

.about-me__link:hover,
.project__description--link:hover {
    opacity: 0.6;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    max-width: 600px;
    margin: 0 32px 32px;    /* top right bottom left */

}

.about-me__info--title {
    margin-bottom: 16px;
    animation: fade-up 650ms 400ms backwards;
}

.wave {
    display: inline-block;
    animation: animate-wave 500ms ease-out infinite;
}

@keyframes animate-wave {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.about-me__info--para {
    color: #000;
    font-size: 1.25rem;
    margin: 0 0 16px;
    animation: fade-up 650ms 600ms backwards;
}

.about-me__links {
    animation: fade-up 650ms 800ms backwards;
}
.about-me__link {
    color: #000;
    font-size: 20px;
    /*text-decoration: none; */ /* handled with a tag */
    padding: 0 16px;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

/* LANGUAGES */

.language {
    width: 25%;
    display: flex;
    justify-content: center;
    position: relative;
}

.language:hover .language__name {
    animation: fade-up 300ms backwards;
    transform: scale(1);
}

.language__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.language__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 16px;
}

.language__img {
    width: 100%;
    max-width: 100px;
}

.language:hover .language__img {
    filter: brightness(80%);
    transform: scale(0.9);
    transition: all 300ms;
}

.language__name {
    position: absolute;
    bottom: 0; /* position relative to parent container (.language) */
    transform: scale(0);
    transition: all 300ms;
}

/* PROJECTS */

.project__wrapper {
    display: flex;
    width: 100%;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    margin: 0 0 64px; /* top right bottom left */
}

.project__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #112;
    opacity: 0;
    transition: opacity 400ms ease;
    z-index: 2;
}

.project:hover .project__wrapper::before {
    opacity: 0.75;
}

.project:hover .project__img {
    transform: scale(1.05);
    filter: blur(5px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-50%);
}

.project__img {
    width: 100%;
    /* deal with the height that is too stretched */
    object-fit: cover;
    transition: all 300ms ease;
}

.project__description {
    position: absolute; /* This means it will not impact the positioning or sizing of elements on the page */
    top: 50%;
    transform: translateY(-40%);
    margin: 0 48px; /* top right bottom left */
    max-width: 90%;
    z-index: 3;
    opacity: 0;
    transition: all 300ms;
}


.project__description--title {
    font-size: 40px;
    margin-bottom: 8px;
}

.project__description--para {
    margin-top: 16px;
}

.project__description--links {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 16px 0 0 0; /* top right bottom left */
}

.project__description--link {
    margin: 0 16px 0 0; /* top right bottom left */
}

.project__description--title,
.project__description--sub-title,
.project__description--para,
a{
    text-align: left;
    color: #fff;
    /*opacity: 1;*/
    transition: all 300ms ease;
}

.project:last-of-type {
    margin-bottom: 0px;    /* ensures only the last .project in its parent gets margin */
}

/* FOOTER */

footer {
    background-color: #333;
}

.footer__row{
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo--popper {
    position: absolute;
    right: 0;
    top: 15px;
    color: #fff;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__anchor {
    margin: 0 0 20px; /* top right bottom left */
    position: relative;
}

.footer__anchor:hover .footer__logo--popper {
    transform: translateX(60px);
    opacity: 1;
}

.footer__copyright {
    color: #fff;
    font-size: 14px;
    margin-top: 8px;
}

.footer__logo--img {
    width: 70px;
}

.footer__social--list {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}
.footer__social--link {
    color: #fff;
    /* font-size: 20px;
    margin: 0 16px; */
}

.link__hover-effect {

}

.link__hover-effect--white {

}

/* RESPONSIVE DESIGN */
/* for smaller screens, make the language icons take up more space */

@media (max-width: 768px) {
    nav {
        height: 68px;
        margin: 0px 0 0 0; /* top right bottom left */;
    }

    .personal__logo {
        font-size: 18px;
        margin: 10px 0 0 0; /* top right bottom left */
        padding: 0;
    }

    .nav__link--list {
        /*display: none;*/
        height: 10%;
        font-size: 14px;
    }

    .about-me__info--title {
        font-size: 24px;
    }

    .about-me__info--para {
        font-size: 1rem;
    }

    h1 {
        font-size: 28px;
    }

    .language   {
        width: calc(100% / 4);
    }

    .project__description {
        margin: 0 24px; /* top right bottom left */
        max-width: 90%;
    }
    .project__description--title {
        font-size:24px;
    }
    .project__description--sub-title {
        font-size:medium;
    }
    .project__description--para {
        font-size:small; 
    }
}

@media (max-width: 480px) {
    .nav__link:not(:last-child) {
        display: none;
    }

    .project__description {
        padding: 0;
        left: 0;
        width: 100%;
    }

    .project__description--title {
        text-align: center;
    }

    .project__description--sub-title {
        text-align: center;
    }

    .project__description--para {
        display: none;
    }

    .project__description--links {
        display: flex;
        justify-content: center;
        margin: 8px; /* top right bottom left */
    }
}